.error-section, .error-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    margin: 31px 12vw 0 12vw;

    .error{
        font-weight: 700;
        font-size: 288px;
    }
    h2{
        font-size: 36px;
    }
    a{
        font-size: 18px;
        margin: 150px 0 130px 0;
    }
}

// Breakpoints

@media screen and (max-width:768px) {
   .error-section {
       .error{
           font-size: 96px;
       }
       h2{
        font-size: 18px;
        text-align: center;
       }
       a{
        font-size: 14px;
       }
       
    }
}