.banner-section {
    display: flex;
    justify-content: center;
    margin: 70px 5vw 0 5vw;
    position: relative;

    img{
        background: black;
        mix-blend-mode: darken;
        border-radius: 25px;
        height: 220px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        filter: brightness(70%);
    }

    h1 {
        font-size: 48px;
        color: white;
        position: absolute;
        top: 40%;
    }
}

// Breakpoints

@media screen and (max-width: 768px) {
    .banner-section{
        h1{
            margin-left: 15px;
            top: 25%;
        }
    }
}